<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">

    <title>P&O Purple</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="static/angular.min.js"></script>
    <script src="static/jquery.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css" >
    <script src="/static/controller.js"></script>
    <link rel="stylesheet" href="static/cssv2.css">
  <script>window.addEventListener("keydown", function(e) {
  // space and arrow keys
  if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
              e.preventDefault();
            }
          }, false);
  </script>
</head>

<body  data-spy="scroll" data-target=".navbar" data-offset="50" onload="setTimeout('init();', 100);"  ng-app='purpleApp' ng-controller='purpleController' ng-keydown = "keyDown($event)" ng-keyup ="keyUp($event)">
  <div >
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">P&O Purple</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/#home" class="smooth-nav">Home</a></li>
	           <li><a href="/#videostream" class="smooth-nav">Videostream</a></li>
            <li><a href="/#about" class="smooth-nav">About</a></li>
            <li class="active"><a href="/control" class = "smooth-nav">Control</a></li>
            <li><a href="/stats" class = "smooth-nav"> Stats </a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" id='home'>
		    <div class="starter-template">
          <br>
          <br>
          <div class="jumbotron">
            <h1>Get lock!</h1>
            <form name = "lock" novalidate>
              <input type = "submit" ng-click="getLock()"  value ='Lock' name ='lock'>
              <input type = "submit" ng-click="getUnlock()"  value ='Unlock'name = 'unlock'>
            </form>
            <h2>Or get a superlock</h2>
            <form name = "superlock" novalidate>
              <input type="password" ng-model="superlock_password">
              <input type = "submit" ng-click="getSuperlock()" value="Lock">
              <input type = "submit" ng-click="getSuperunlock()" value="Unlock">
            </form>
          </div>
          <div class="alert alert-danger" role="alert" ng-show="failure">
            <p>Sorry something went wrong.</p>
          </div>
          <div class="alert alert-danger" role="alert" ng-show="noLock">
            <p><strong>D'oh!</strong>, someone else has already a lock. Please try later again. </p>
          </div>
          <div class="alert alert-danger" role="alert" ng-show="invalidMessage">
            <p> <strong>Invalid</strong> message</p>
          </div>
          <div class="alert alert-success" role="alert" ng-show="locker">
            <p>You <strong> successfully </strong> acquired a lock </p>
          </div>
          <div class="alert alert-danger" role="alert" ng-show="claimLock">
            <p> You must have a lock to control the robot, please try to claim a lock.</p>
          </div>
          <div class="alert alert-success" role="alert" ng-show="succes">
            <p> The command is successfully started </p>
          </div>
          <div class="alert alert-success" role="alert" ng-show="unlock">
            <p>You are <strong> successfully </strong> unlocked </p>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Drive straight
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<p>
								The robot uses 2 PID-controllers to drive a straight line.
								The first PID-controller has as input the distance yet to be driven and has as output a speed for both engines.
								The input of the second PID-controller is supplied with the distance difference between the
								left and the right wheel, and present at it's output the speed differce between both engines.
							</p>
              <div ng-app="formStraight" ng-controller="controllerStraight">
							<div class="form1" >
								<form class="form-horizontal">
									<div class="form-group">
										<label for="distance">Distance</label>
										<input type="number"  id="distance"  ng-model="straightDistance" placeholder="in cm" name='straight'>
									</div>
                  <p ng-show='invalidStraightDistance'> Please enter a value between 20 and 600 </p>
									<button type="submit" class="btn btn-default btn-lg btn-block" ng-click="straightSubmit()">Drive straight</button>
								</form>
							</div>
            </div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Drive Circle
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<p>
								<strong>Note: </strong> The given radius is the radius of the circle driven by the centermost wheel.
							</p>
							<div class="form2">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="radius">Radius</label>
										<input type="number"  id="radius" placeholder="in cm" ng-model='circRadius' name="circ">
									</div>
                  <p ng-show="invalidCircRadius"> Enter a distance between 20 and 100 </p>
									<button type="submit" ng-click="circSubmit()"class="btn btn-default btn-lg btn-block">Drive Circle</button>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Drive Square
							</a>
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
							<p>
								To drive a square, the robot will first drive the given length. Then it will rotate and drive the same distance again, ...
								</br>
								</br>
								<strong>Note:</strong> The robot will end its movement in the same position as he started it, i.e. after the last straight he will rotate again.
							</p>
							<div class="form3">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="side">Side Length</label>
										<input type="number"  id="side" placeholder="in cm" ng-model="squareSide" name="square">
									</div>
                  <p ng-show='invalidSquareSide'> Please enter a number between 20 and 100 </p>
									<button type="submit" ng-click="squareSubmit()" class="btn btn-default btn-lg btn-block">Drive Square</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFive">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
							Send commands
							</a>
						</h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
						<div class="panel-body">
							<div class="form5">
								<p> <strong>Note:</strong> Coming soon </p>
								<form class="form-horizontal">
									<p>
										<textarea  rows="3" class="form-control" placeholder="Send list of commands"></textarea>
									</p>
									<p>
										<button type="submit" class="btn btn-default btn-lg btn-block">Send</button>
									</p>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSix">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
							Manual driving
							</a>
						</h4>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
						<div class="panel-body">
							<p>
								<strong>Note: </strong> The given radius is the radius of the circle driven by the centermost wheel.
							</p>
							<div class="form6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="radius">Radius</label>
										<input type="text"  id="radius" placeholder="in cm">
									</div>
									<button type="submit" class="btn btn-default btn-lg btn-block">Drive Circle</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				</div>

			</div>
		</div>
	</div>

      <script>
      $('.smooth-nav').click(function(){
      $('html, body').animate({
          scrollTop: $( $.attr(this, 'href') ).offset().top
      }, 500);
      return false;
      });
      </script>

      <script>
      $('.nextLeft').click(function(){
        $('.commandList').val($('.commandList').val() + 'Left(' + $('.valueLeft').val() + '),');
        $('.valueLeft').val('');
      });

      $('.nextStraight').click(function(){
        $('.commandList').val($('.commandList').val() + 'Right(' + $('.valueRight').val() + '),');
        $('.valueRight').val('');
      });

      $('.nextDistance').click(function(){
        $('.commandList').val($('.commandList').val() + 'Distance(' + $('.valueDistance').val() + '),');
        $('.valueDistance').val('');
      });
      </script>

    </div>

  </div>
</body>
</html>
