<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">

    <title>P&O Purple</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="static/angular.min.js"></script>
    <script src="static/jquery.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/vis.min.js"></script>
    <script src="static/stream.js"></script>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/bootstrap-theme.min.css" >
    <script src="/static/angular_controller.js"></script>
    <!--<script src="/static/keypress.js"></script> -->
    <link rel="stylesheet" href="static/cssv2.css">
    <link rel="stylesheet" href="static/vis.min.css">
	   <style type="text/css">
        #mynetwork {
            width: 600px;
            height: 400px;
            border: 1px solid lightgray;
        }
    </style>
  <script>window.addEventListener("keydown", function(e) {
  // space and arrow keys
  if([32, 37, 38, 39, 40].indexOf(e.keyCode) > -1) {
              e.preventDefault();
            }
          }, false);
  </script>
</head>

<body  data-spy="scroll" data-target=".navbar" data-offset="50" onload="setTimeout('init();', 100);"  ng-app='purpleApp' ng-controller='purpleController' ng-keydown = "keyDown($event)" ng-keyup ="keyUp($event)">
  <div >
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">P&O Purple</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#home" class="smooth-nav">Home</a></li>
	          <li><a href="#videostream" class="smooth-nav">Videostream</a></li>
            <li><a href="#about" class="smooth-nav">About</a></li>
            <li><a href="/control" class = "smooth-nav">Control</a></li>
            <li><a href="/stats" class = "smooth-nav"> Stats</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" id='home'>
		    <div class="starter-template">
          <br>
          <br>
          <div class="jumbotron">
            <h1>Get lock!</h1>
            <form name = "lock" novalidate>
              <input type = "submit" ng-click="getLock()"  value ='Lock' name ='lock'>
              <input type = "submit" ng-click="getUnlock()"  value ='Unlock'name = 'unlock'>
            </form>
          </div>
          <div class="alert alert-danger" role="alert" ng-show="failure">
            <p>Sorry something went wrong.</p>
          </div>
          <div class="alert alert-danger" role="alert" ng-show="noLock">
            <p><strong>D'oh!</strong>, someone else has already a lock. Please try later again. </p>
          </div>
          <div class="alert alert-danger" role="alert" ng-show="invalidMessage">
            <p> <strong>Invalid</strong> message</p>
          </div>
          <div class="alert alert-success" role="alert" ng-show="locker">
            <p>You <strong> successfully </strong> acquired a lock </p>
          </div>
          <div class="alert alert-danger" role="alert" ng-show="claimLock">
            <p> You must have a lock to control the robot, please try to claim a lock.</p>
          </div>
          <div class="alert alert-success" role="alert" ng-show="succes">
            <p> The command is successfully started </p>
          </div>
          <div class="alert alert-success" role="alert" ng-show="unlock">
            <p>You are <strong> successfully </strong> unlocked </p>
        </div>
        <div class="manual-control">
          <h1> Manual Control </h1>
          <div class="touch-keys" >
            <div class="row">
              <div class="col-xs-4 col-xs-offset-4">
                <button class="btn btn-default btn-block driveForward not_pressed" ng-mouseup="keyUpReleased()" ng-mousedown="keyUpPressed()" ng-touchstart="keyUpPressed()" ng-touchend="keyUpReleased()">
                F
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <button class="btn btn-default btn-block driveLeft not_pressed" ng-mouseup="keyLeftReleased()" ng-mousedown="keyLeftPressed()" ng-touchstart="keyLeftPressed()" ng-touchstart="keyLeftReleased()">
                L
                </button>
              </div>
              <div class="col-xs-4">
                <button class="btn btn-default btn-block driveReverse not_pressed" ng-mouseup="keyDownReleased()" ng-mousedown="keyDownPressed()" ng-touchstart="keyDownPressed()" ng-touchend="keyDownReleased()">
                B
                </button>
              </div>
              <div class="col-xs-4">
                <button class="btn btn-default btn-block driveRight not_pressed" ng-mouseup="keyRightReleased()" ng-mousedown="keyRightPressed()" ng-touchstart="keyRightPressed()" ng-touchstart="keyDownReleased()">
                R
                </button>
              </div>
            </div>
          </div>
          <div class="keyboard-keys">
            Or press the keyboard arrow keys to control the vehicle!
          </div>
        </div>

      <div class="network-div">
        <h1> Positions </h1>
        <p> In the graph below you find the current map and the positions of all the driving teams.</p>
        <div class="legend" id="mylegend">
        <div class="legend-element-container" id="resetnetwork">
          <button class="description-container" id="resetdesc">
            Reset Network
          </button>
        </div>
        </div>
        <div class="networkjs" id="mynetwork"></div>
      </div>
      <div class='container' id='videostream'>
      <div class="starter-template">
      <h1> Videostream </h1>
      <img class="img-responsive center-block" id="mjpeg_dest"  width=720px height=400px>
      </div>
      </div>

      <div class='container'id='about'>
      <div class="starter-template">
      <h1> About us </h1>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="max-width: 720px;width: 100%; margin: 0 auto">
      <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="Images/Rear_view.jpg" alt="Couldn't load image">
            <div class="carousel-caption">
              <p> Rear view </p>
            </div>
          </div>
          <div class="item">
            <img src="Images/Side_view.jpg" alt="Couldn't load image">
            <div class="carousel-caption">
              <p> Side view </p>
            </div>
          </div>
          <div class="item">
            <img src="Images/Front_view.jpg" alt="Couldn't load image">
            <div class="carousel-caption">
              <p> Front view </p>
            </div>
          </div>
        </div>

        <!-- Controls -->
         <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
      </div>

      <script>
      $('.smooth-nav').click(function(){
      $('html, body').animate({
          scrollTop: $( $.attr(this, 'href') ).offset().top
      }, 500);
      return false;
      });
      </script>

      <script>
      $('.nextLeft').click(function(){
        $('.commandList').val($('.commandList').val() + 'Left(' + $('.valueLeft').val() + '),');
        $('.valueLeft').val('');
      });

      $('.nextStraight').click(function(){
        $('.commandList').val($('.commandList').val() + 'Right(' + $('.valueRight').val() + '),');
        $('.valueRight').val('');
      });

      $('.nextDistance').click(function(){
        $('.commandList').val($('.commandList').val() + 'Distance(' + $('.valueDistance').val() + '),');
        $('.valueDistance').val('');
      });
      </script>

	  <script type="text/javascript" src="static/network.js"></script>
    </div>

  </div>
</body>
</html>
