body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.form1{
   padding-bottom: 20px;
   border-bottom: 1px solid black;
}

.form2 {
   padding-bottom: 20px;
   border-bottom: 1px solid black;
}

.form3 {
   padding-bottom: 20px;
   border-bottom: 1px solid black;
}

.form4 {
   padding-bottom: 20px;
   border-bottom: 1px solid black;
}

.form5 {
   padding-bottom: 20px;
}